<section class="book-grid">
    <div *ngFor="let book of financeBooks" class="flex flex-row border book-item">
      <div class="basis-1/3 ">
        <img [src]="book.cover ? book.cover : 'assets/placeholder.png'" alt="Book Cover">
      </div>
      <div class="basis-2/3 pt-3 px-1.5">
        <div class="details">
          <p><strong>Title:</strong> {{ book.title }}</p>
          <p><strong>Publish Date:</strong> {{ book.publishDate }}</p>
          <p><strong>Authors: </strong> <a *ngFor="let author of book.authors"
              [routerLink]="['author/', author.key]">{{ author.name }}</a></p>
  
        </div>
        <div class="grid grid-cols-1 gap-4 pb-2 relative">
          <Button (click)="removeFromWishList(book)" class="bg-rose-800"> Remove from wishlist</Button>
  
        </div>
      </div>
    </div>
  </section>
